*.pdf binary
*.png binary
*.gif binary
*.zip binary
*.command text eol=lf
*.py text eol=lf
*.js text eol=lf
*.css text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf
*.sh text eol=lf
